# Minify
Minify/bin/gamepakcontents.txt
Minify/vpk_build
Minify/vpk_replace
Minify/vpk_merge
Minify/cache
Minify/config
Minify/logs
Minify/mods/*
scripts/ffi_*.txt

## Dependencies
Minify/bin/rescomproot*
Minify/cli-*-*.*
Minify/Source2Viewer-CLI*
Minify/libSkiaSharp*
Minify/*spirv-cross*
Minify/*TinyEXR*
Minify/rg*

scripts/version_info.iss

## Dota2
steam_appid.txt

## In-repo mods
!Minify/mods/#base
!Minify/mods/Auto Accept Match
!Minify/mods/Custom Backgrounds
!Minify/mods/Custom Hero Grids
!Minify/mods/Custom Fonts
!Minify/mods/Dark Terrain
!Minify/mods/Disable Courier Particle Effects
!Minify/mods/Disable Hero Particle Effects
!Minify/mods/Minify Base Attacks
!Minify/mods/Minify Spells & Items
!Minify/mods/Misc Optimization
!Minify/mods/Mute Ambient Sounds
!Minify/mods/Mute Default Announcer
!Minify/mods/Mute Taunt Sounds
!Minify/mods/Mute Voice Line Sounds
!Minify/mods/OpenDotaGuides Guides
!Minify/mods/Remove Foilage
!Minify/mods/Remove Hero Renders
!Minify/mods/Remove Main Menu Background
!Minify/mods/Remove Pings
!Minify/mods/Remove River
!Minify/mods/Remove Showcases
!Minify/mods/Remove Sprays
!Minify/mods/Remove Weather Effects
!Minify/mods/Reorganize Shop Layout
!Minify/mods/Repopulate Unit Query HUD
!Minify/mods/Reposition & Rescale HUD
!Minify/mods/Revamp Hero Grid Layout
!Minify/mods/Revert Ping Sounds
!Minify/mods/Show NetWorth
!Minify/mods/Stat Site Buttons
!Minify/mods/Transparent HUD
!Minify/mods/Tree Mod
!Minify/mods/User Styles
Minify/mods/Custom Backgrounds/*.jpe?g
Minify/mods/Custom Backgrounds/*.mp4
Minify/mods/Custom Backgrounds/*.png
Minify/mods/Custom Backgrounds/*.web[mp]
Minify/mods/Custom Backgrounds/video_success
!Minify/mods/Custom Backgrounds/preview.png
Minify/mods/User Styles/styling.css

# misc
__pycache__
.DS_Store
*.build
*.dist
*.exe
*.py[cod]
*$py.class
build
dist

# Environments
.env
.venv
env.bak/
env/
ENV/
venv.bak/
venv/
